---
layout: default
---
<section id="exchange">
	<div class="container">
		<div class="page-title py-4">
			<h1>Exchange</h1>
		</div>
		<p>
			Matches for the FIFA World Cup 2018
		</p>

		<div class="accordion" id="match-days" v-if="Object.keys(matches).length > 0">
		  <div class="card" v-for="(content, day, index) in matches">
		  	<div class="card-header px-4 py-2" :class="{collapsed: index != 0}" data-toggle="collapse" :data-target="'#day' + index" :aria-expanded="index == 0" v-text="getMatchDate(day + ' 12:00:00')"></div>
		  	<div :id="'day' + index" class="collapse" :class="{show: index == 0}" data-parent="#match-days">
		  		<div class="card-body">
			      <table class="table exchange">
							<thead>
								<th></th>
								<th></th>
								<th class="text-center">Matched</th>
								<th class="text-center" colspan="2">1</th>
								<th class="text-center" colspan="2">X</th>
								<th class="text-center" colspan="2">2</th>
							</thead>
							<tbody>
								<template v-for="match in content">
									<tr>
										<td class="text-center date" v-html="getMatchDate(match.date, true)"></td>
										<td><span v-text="match.home.name"></span><br><span v-text="match.away.name"></span></td>
										<td class="text-center matched" valign="middle" v-text="'$' + getMatchedAmmount(match)"></td>
										<td class="text-center back" v-on:click="bet.day=day; bet.type = 'back'; bet.post = match.permlink; bet.selection = match.home.name; bet.odds=match.home.odds; bet.stake=0; bet.limit=null; bet.liability=0">
											<b v-text="match.home.odds"></b><br>
											<span v-text="'$' + getLiquidity(match.home.bets, 'back')"></span>
										</td>
										<td class="text-center place lay br" v-on:click="bet.day=day; bet.type = 'lay'; bet.post = match.permlink; bet.selection = match.home.name; bet.odds=match.home.odds; bet.stake=0; bet.limit=null; bet.liability=0">
											<b v-text="match.home.odds"></b><br>
											<span v-text="'$' + getLiquidity(match.home.bets, 'lay')"></span>
										</td>
										<td class="text-center place back bl" v-on:click="bet.day=day; bet.type = 'back'; bet.post = match.permlink; bet.selection = 'Draw'; bet.odds=match.draw.odds; bet.stake=0; bet.limit=null; bet.liability=0">
											<b v-text="match.draw.odds"></b><br>
											<span v-text="'$' + getLiquidity(match.draw.bets, 'back')"></span>
										</td>
										<td class="text-center place lay br"  v-on:click="bet.day=day; bet.type = 'lay'; bet.post = match.permlink; bet.selection = 'Draw'; bet.odds=match.draw.odds; bet.stake=0; bet.limit=null; bet.liability=0">
											<b v-text="match.draw.odds"></b><br>
											<span v-text="'$' + getLiquidity(match.draw.bets, 'lay')"></span>
										</td>
										<td class="text-center place back bl" v-on:click="bet.day=day; bet.type = 'back'; bet.post = match.permlink; bet.selection = match.away.name; bet.odds=match.away.odds; bet.stake=0; bet.limit=null; bet.liability=0">
											<b v-text="match.away.odds"></b><br>
											<span v-text="'$' + getLiquidity(match.away.bets, 'back')"></span>
										</td>
										<td class="text-center place lay" v-on:click="bet.day=day; bet.type = 'lay'; bet.post = match.permlink; bet.selection = match.away.name; bet.odds=match.away.odds; bet.stake=0; bet.limit=null; bet.liability=0">
											<b v-text="match.away.odds"></b><br>
											<span v-text="'$' + getLiquidity(match.away.bets, 'lay')"></span>
										</td>
									</tr>
									<tr class="bet-row font-xs" :class="bet.type" v-if="match.permlink === bet.post">
										<td colspan="9">
											<div class="d-flex justify-content-between align-items-center pt-2 pb-1">
												<div>
													<div v-if="bet.type === 'back'" v-text="'Back (Bet For):'"></div>
													<div v-else v-text="'Lay (Bet Against):'"></div>
													<b v-text="bet.selection"></b>
												</div>
												<div class="d-flex">
													<button class="btn btn-light mr-1" v-on:click="bet.type = ''; bet.post = ''; bet.selection = ''; bet.limit=null; bet.liability=0">Cancel</button>
													<div class="form-group">
														<input type="text" class="form-control odds mr-1" disabled :value="bet.odds">
													</div>
													<div class="form-group">
														<input type="text" class="form-control stake mr-1" placeholder="stake" v-model.number="bet.stake">
													</div>
													<button class="btn btn-primary mr-1" v-if="steem.name" v-on:click="profitConfirm(bet.type)" data-toggle="modal" data-target="#exchangeModal">Place bet</button>
													<button class="btn btn-primary mr-1" v-else disabled>Login to bet</button>
												</div>
											</div>
										</td>
									</tr>
									<tr class="bet-row" :class="bet.type" v-if="match.permlink === bet.post">
										<td colspan="9">
											<div class="float-right" v-if="bet.limit" >
												<span v-html="'You dont have enough Voting Power, you can set a max stake of ' + bet.limit.toFixed(4) + ' at ' + bet.odds + ' odds'"></span>
												<button class="btn btn-primary mb-1" v-if="steem.name" v-on:click="(bet.stake = bet.limit).toFixed(4)">Set max value.</button>
											</div>
											<div class="float-right font-xs" v-if="bet.stake !== 0 && !bet.limit">
												<span class="mr-2"><b>Payout:</b> $<span v-text="(bet.stake * bet.odds).toFixed(4)"></span></span> 
												<span v-if="bet.type === 'lay'"><b>Liability:</b> $<span v-text="(bet.stake * (bet.odds - 1)).toFixed(4)"></span></span>
											</div>
										</td>
									</tr>
								</template>
							</tbody>
						</table>
					</div>
		    </div>
		  </div>
		</div>
		<div v-else class="text-center px-4 py-4 font-xl">
			<i class="fas fa-spinner fa-spin"></i>
		</div>

		<!-- Confirmation modal -->
		<!-- Modal -->
		<div class="modal fade" id="exchangeModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title review">Confirm your selection.</h5>
		        <h5 class="modal-title confirm d-none">Your bet has been registered.</h5>
		        <h5 class="modal-title wait d-none">Please wait.</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
	        	<h4 class="review">Review your selection before placing your bet:</h4>
	        	<h4 class="confirm d-none">Good luck <span v-text="steem.name"></span> yout bet has been registered.</h4>
	        	<h4 class="wait d-none">Just one second <span v-text="steem.name"></span> we're registering your bet.</h4>
	        	<table class="table">
	        		<thead>
	        			<th>Bet type</th>
	        			<th>Odds</th>
	        			<th>Stake</th>
	        			<th v-if="bet.type === 'lay'">Liability</th>
	        			<th>Potential payout</th>
	        		</thead>
	        		<tbody>
	        			<tr>
	        				<td v-text="bet.type + ': ' + bet.selection"></td>
	        				<td v-text="bet.odds"></td>
	        				<td v-text="'$' + parseFloat(bet.stake).toFixed(4)"></td>
	        				<td v-text="'$' + parseFloat(bet.liability).toFixed(4)" v-if="bet.type === 'lay'"></td>
	        				<td>
	        					<div class="payout"></div>
	        				</td>		        				
	        			</tr>
	        		</tbody>
	        	</table>
	        	<div class="waiter px-4 py-4 font-xl text-center d-none"><i class="fas fa-spinner fa-spin"></i></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary confirm-bet" v-on:click="placeBet()">Confirm Bet</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</section>